*{
    box-sizing: border-box;
}

body{
    margin: 20px;
    font-size: 20px;
}

h1{
    font-family: Verdana;
    font-size: 50px;
    color: #071ee7;
}

h2{
    font-family: Verdana;
    font-size: 20px;
    color: #071ee7;
}