.exemple{
    border: 2px solid #045804;
    padding: 10px; 
    /* padding-left, padding-top... padding: 10px 5px 10px 5px (para cada direção sentido horário começão por cima*/
    /*padding: 10px 5px - com dois números o primeiro é superior/inferior e o segundo é direita/esquerda*/
    margin: 10px; 
    /* margin-left, margin-top... As aplicações do padding servem para o margin*/

}

/* 
BORDER: Todo elemento na tela tem uma borda, mesmo que não esteja visível. 
MARGIN: Espaçamento EXTERNO do elemento na tela (texto,imagem, etc). Entre o conte. 
PADDING: Espaçamento INTERNO do elemento na tela (texto,imagem, etc). Entre o conteúdo e a BORDA. 

*/

#title{
    border: 1px solid #00F;
    padding: 3px;
}

p{
    border: 2px solid #F00;
}