*{
    box-sizing: border-box;
}

body{
    margin: 20px;
    font-size: 20px;
}

h1{
    font-family: 'Indie Flower';
    font-size: 50px;
    color: #5F0001;
}

p{
    color: #051801;
    font-size: 23px;
    font-family: 'Long Cang';
}