*{
    box-sizing: border-box;
}

body{
    margin: 20px;
    font-size: 20px;
}

h1{
    font-family: Verdana;
    font-size: 50px;
    color: #071ee7;
}

table{
    width: 600px;
   
}

table thead{
    background-color: #bbccbb;
}

table tbody{
    background-color: #fff;
}

th, td{
    padding: 10px;
    text-align: left;
}
tbody tr:hover {
    background-color: #00a000;
}

tbody td {
    border-bottom: 1px solid #000;
}

tbody tr:nth-child(even){
    background-color: #bbccbb ;
}